<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand"  style="color:white;float: right;">Aeries Association</a>

      <div class="float-right  navbar-collapse" id="navbarColor02" >
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="moveToBuyer()">Buyer List <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" (click)="movetovocher()">Vocher List <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Application User</a>
            </li>
        </ul>
    </div> 
 
    <form class="form-inline my-2 my-lg-0">
      <input type="search" #key="ngModel"  ngModel
       name="key"  id="searchName" class="form-control mr-sm-2" placeholder="Search User..." required>
   </form>
     
  </nav>

  <div class="container">
    <br>
    <div class="row">
        <div class="col-xs-4"><a href="#" class="btn btn-info center-block" data-toggle="modal" data-target="#useradd" data-backdrop="false" style="float: left;">Add User</a></div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="card">
               
                <div class="card-body">
                    <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL No.</th>
                                    <th>User</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let users of users;let indexOfUser=index;even as isEven"   [ngStyle]="{ background: isEven ? '#e9e9eb' : 'white' }">
                                <tr >
                                    <td><b>{{indexOfUser+1}}</b></td>
                                    <td> <span class="col-green font-weight-bold">{{users?.applicationUserName}}</span>
                                    </td>
                                    <td>
                                        <a data-toggle="tooltip" title="" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                        <a data-toggle="tooltip" title="" data-original-title="Delete"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="useradd" tabindex="-1" aria-labelledby="addUserModalLablel" aria-hidden="true">
        <div class="modal-dialog"  role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addUserModalLablel">Add User</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm"  (ngSubmit)="addUser(addForm)">
                <div class="form-group">
                    <label for="buyerName">User</label>
                    <input  type="text" ngModel id="applicationUserName" name="applicationUserName" class="form-control" id="User Name" placeholder="User Name" required>
                </div>
             
                <div class="form-group">
                    <label for="phoneNumber">Password</label>
                    <input type="password"   ngModel name="password" class="form-control" id="password"   placeholder="Password"  required>
                </div>
                <div class="modal-footer">
                    <button [disabled]="addForm.invalid"  (keypress.enter)="addUser(addForm)" type="submit" class="btn btn-primary" >Save</button>
                    <button type="button"  id="addFormClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>